<form nz-form [formGroup]="formGroup" (submit)="onSubmit()">
  <nz-form-item>
    <nz-form-control [nzSpan]="24">
      <nz-select formControlName="type">
        <nz-option [nzValue]="1" nzLabel="Paragraph"></nz-option>
        <nz-option [nzValue]="2" nzLabel="Checkbox list"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="24" nzErrorTip="Please input question">
      <input nz-input formControlName="question" placeholder="Type question here">
    </nz-form-control>
  </nz-form-item>

  <ng-container *ngIf="isCheckboxList">
    <ng-container formArrayName="answers">
      <ng-container *ngFor="let answer of answers; let i = index">
        <ng-container [formGroupName]="i">
          <nz-form-item>
            <nz-form-control [nzSpan]="24" nzErrorTip="Please input option">
              <input nz-input formControlName="answer" placeholder="Add answer option">
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </ng-container>
    </ng-container>

    <nz-form-item style="margin-bottom: 8px">
      <a href="javascript: void(0)" (click)="addAnswer()">
        <span nz-icon nzType="plus"></span>
        Add another answer
      </a>
    </nz-form-item>
  </ng-container>
  <nz-form-item style="margin-bottom: 0">
    <nz-form-control [nzSpan]="24">
      <label nz-checkbox formControlName="canSpecify"> Allow user to specify their own answer </label>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item style="margin-bottom: 0">
    <nz-form-control [nzSpan]="24">
      <label nz-checkbox formControlName="required"> This field is required </label>
    </nz-form-control>
  </nz-form-item>
</form>
